.model
    display flex
    flex-direction row
    align-items center
    justify-content space-between
    .game  
        box-sizing border-box
        flex-basis 700px
        height 600px
        border 35px solid #fff
        background-color  #009688
        box-shadow 0 2px 4px rgba(0,0,0,.3)
        position relative
        .start
            position absolute
            width 100%
            height 100%
            background-color #575fcf
            display flex
            align-items center
            justify-content center
            input
                background-color #706fd3
                width 200px
                height 60px
                border none
                border-radius 30px
                font-size 25px
                color #ffffff                 
                font-family 'Oswald', sans-serif               
                box-shadow 0 2px 4px rgba(0,0,0,.3)
                letter-spacing 1px
                &:hover
                    cursor pointer
                    box-shadow 0 2px 4px rgba(0,0,0,.3)
        .number          
            width 100%
            height 54% 
            box-sizing border-box            
            .find_flex 
                display flex
                align-items center
                justify-content center 
                padding-top 80px                                 
                .find
                    font-size 46px                   
                    color #ffffff 
                    font-family 'Oswald', sans-serif     
                .find_num
                    width 130px
                    height 92px
                    margin 0 30px 
                    font-size 90px
                    color #ffffff 
                    font-family 'Oswald', sans-serif     
        .numbers
            display flex
            flex-wrap wrap
            justify-content center
            align-items center
            .cell
                display flex
                justify-content center
                align-items center
                margin 5px 5px 5px 5px
                width 90px
                height 60px
                border 1px solid #fff
                font-size 40px
                color #ffffff 
                font-family 'Oswald', sans-serif 
                animation-iteration-count: infinite; 
                &:hover  
                    cursor pointer 
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);     
    .descr
        display flex
        flex-direction column
        justify-content flex-start
        flex-basis 250px
        height 600px
        .descr_result
            display flex
            flex-direction row
            flex-wrap wrap
            align-items center
            justify-content space-between
            .result_error
                box-sizing border-box
                border-radius 50%
                border 5px solid #ffffff
                width 75px
                height 75px
                background-color #e74c3c 
                text-align center
                box-shadow: 0 2px 4px rgba(0,0,0,.3);
                p
                    color #ffffff
                    font-size 30px
                    padding-top 17px
            .result_ritch
                box-sizing border-box
                border-radius 50%
                border 5px solid #fff 
                width 75px
                height 75px
                background-color #1abc9c 
                text-align center
                box-shadow: 0 2px 4px rgba(0,0,0,.3);
                p
                    color #ffffff
                    font-size 30px
                    padding-top 17px
            .time
                box-sizing border-box
                border-radius 50%
                border 5px solid #fff 
                width 75px
                height 75px
                background-color #f1c40f 
                text-align center
                box-shadow: 0 2px 4px rgba(0,0,0,.3);
                p
                    color #ffffff
                    font-size 30px
                    padding-top 17px
                      
        h1
            font-family 'Poiret One', cursive
            font-size 25px
            padding 50px 0px
        .settings_number
            display flex
            flex-direction column            
            align-items flex-start
            margin-top 25px
        .settings_time
            margin-top 25px
            display flex
            flex-direction row
            flex-wrap nowrap
            justify-content space-between
