body
    box-sizing border-box        
    margin 0 auto
    background-color #F7F5FA
a
    text-decoration none
    color black
img
    max-width 100%
header
    width 100%
    padding-top 35px  
    display flex
    flex-direction row    
    justify-content space-evenly     
    .header_top                       
        display flex
        flex-direction row
        justify-content center
        align-items center
        h1          
            padding-left 10px
            font-family 'Quicksand', sans-serif
            font-style normal
            font-weight 400
            font-size 19px
            line-height 24px            
    .top_menu_header            
            box-sizing border-box
            height 50px
            width 590px                       
            border-radius 28px
            display flex
            justify-content center
            align-items center
            box-shadow 0px 0px 7px 4px rgba(115,103,240,0.08)
            -webkit-box-shadow 0px 0px 7px 4px rgba(115,103,240,0.08)
            -moz-box-shadow 0px 0px 7px 4px rgba(115,103,240,0.08)
            background-image linear-gradient( 135deg, #FF9D6C 10%, #BB4E75 100%)
        ul             
            li 
                display inline-block
                a
                        padding 0 15px 0 15px
                        font-family 'Quicksand', sans-serif 
                        font-style normal
                        font-weight 400
                        font-size 15px
                        line-height 18px
                        letter-spacing -.1px
                        color #fff
                        &:hover 
                            text-decoration underline 
        .top_menu_smm
            padding 0 15px 0 15px
            a
                padding 0 5px 0 5px     
main    
    text-align center
    margin 0 auto    
    padding-top 75px  
    max-width 1024px
    min-height 750px
    h2               
        font-family 'Montserrat', sans-serif
        font-style normal
        font-weight 400
        font-size 19px
        line-height 24px
    .math
        display flex
        flex-direction row
        flex-wrap wrap        
        justify-content center
        margin-top 50px
    .card 
        display flex
        flex-direction: column        
        align-items center
        justify-content center        
        width 200px
        height 235px
        margin-left 10px
        margin-right 10px
        margin-bottom 20px
        padding 10px 10px 5px 10px        
        background-color #fff
        box-shadow 0 4px 4px 1px rgba(0,0,0,.2)         
        font-family "Comfortaa"
        overflow hidden
        .card_logo                        
            width 180px
            height 150px
            margin-top 15px
            // background-color #8C3C8C
            background-color #40936F
            // background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
            p
                color #ffffff
                font-size 40px
                font-family 'Montserrat', sans-serif
                font-style normal
                font-weight 600
                margin-top 55px
            i 
                color #fff
                font-size 91px
                margin-top 28px

        .card_text
            margin-top auto
            margin-bottom 15px
            p   
                margin-top 30px
                font-family 'Montserrat', sans-serif
                font-style normal
                font-weight 400
                font-size 19px
                line-height 24px
    h2 
        margin-top 30px
        font-family 'Montserrat', sans-serif
        font-style normal
        font-weight 400
        font-size 19px
        line-height 24px 
    .mind
        display flex
        flex-direction row
        flex-wrap wrap        
        justify-content center
        margin-top 50px
footer
    position relative    
    bottom 0        
    background-color #2d3436
    margin-top 50px    
    .wrapper
        width 1024px
        margin 0 auto
        display flex
        flex-wrap nowrap        
        justify-content space-between
        .contacts
            margin-top 25px
            ul
                list-style-type none
                a
                    color #fff
                    font-family 'Montserrat', sans-serif
                    font-style normal
                    font-weight 400
                    font-size 13px
                    line-height 24px 
                li
                    margin-top 5px
                    text-decoration none
            h4 
                margin-top 10px
                color #fff
                font-family 'Montserrat', sans-serif
                font-style normal
                font-weight 400
                font-size 13px
                line-height 24px
            p
                margin-top 5px
                color #fff
                font-family 'Montserrat', sans-serif
                font-style normal
                font-weight 400
                font-size 15px
                line-height 24px
        .social
            flex-grow 1
            margin-top 45px
            text-align center
            a   
                padding 0 10px 0 10px                 
        .get_mon
            margin-top 25px
            margin-bottom 20px  
    .no_copy
        width 1024px
        margin 0 auto
        display flex
        flex-wrap nowrap        
        justify-content center
        padding 15px 0 40px 0
        p
            color #fff
            font-family 'Montserrat', sans-serif
            font-style normal
            font-weight 400
            font-size 13px
            line-height 24px
            a
                color #fff
                font-family 'Montserrat', sans-serif
                font-style normal
                font-weight 400
                font-size 13px
                line-height 24px



    

