.model
    display flex
    flex-direction row
    align-items center
    justify-content space-between
    .game
        display flex
        flex-wrap wrap
        justify-content center
        align-items center
        box-sizing border-box
        width 75vmin
        height 75vmin
        border 35px solid #fff
        background-color  #009688
        box-shadow 0 2px 4px rgba(0,0,0,.3)
        position relative        
        .start
            position absolute
            width 100%
            height 100%
            background-color #575fcf
            display flex
            align-items center
            justify-content center
            input
                background-color #706fd3
                width 200px
                height 60px
                border none
                border-radius 30px
                font-size 25px
                color #ffffff                 
                font-family 'Oswald', sans-serif               
                box-shadow 0 2px 4px rgba(0,0,0,.3)
                letter-spacing 1px
                &:hover
                    cursor pointer
                    box-shadow 0 2px 4px rgba(0,0,0,.3)
        .eyes
            width 12vmin
            height 12vmin
            background-color #7f8fa6
            border-radius 5%
            border 1px solid black
            margin 0 5px 0 5px

        .cell
            width 12vmin
            height 12vmin
            background-color #7f8fa6
            border-radius 5%
            border 1px solid black
            margin 0 5px 0 5px
         

           
    .descr
        display flex
        flex-direction column
        justify-content flex-start
        flex-basis 250px
        height 600px
        border 1ps solid red
        
